doctype html
head
    meta(charset='UTF-8')
    title= title
    for s in stylesheets
        link(rel='stylesheet' type='text/css' href=s)

body
    div= content
    button.btn.btn-primary(type='button') Primary
    a.btn.btn-secondary.btn-lg.active(href='/about' role='button' aria-pressed='true') Link

for s in scripts
    script(src= s)
